*{
    margin: 0;
    padding:0;
    /* outline: 1px solid red; */
}

#todo_list, #chat_box {
    /* min-height: 30vh;
    max-height: 90vh; */
    /* padding:0; */
    /* margin: 0px 15px; */
    margin: auto; 
    height: 400px;
    width:  400px;
}

.nav_mid {
    text-align: center;
}