*{
    margin: 0;
    padding:0;
    /* outline: 1px solid red; */
}

#todo_list, #chat_box {
    /* min-height: 30vh;
    max-height: 90vh; */
    /* padding:0; */
    /* margin: 0px 15px; */
    margin: auto; 
    height: 400px;
    width:  400px;
}

.nav_mid {
    text-align: center;
}

body {
    background-color: rgb(233, 235, 238) ;

}

.container{
    background-color: rgb(233, 235, 238) ;
}

.index{
    background-color: rgb(233, 235, 238);
}

.glogo{
    width: 40px;
    height: 40px;
}

.budget{
    width: 500px;
    height: 300px;
    background-color: white;
}
