*{
    margin: 0;
    padding:0;
    /* outline: 1px solid red; */
}

#todo_list, #chat_box {
    min-height: 30vh;
    max-height: 90vh;
    background-color: green;
    padding:0;
    margin: 0px 15px;
}

.nav_mid {
    text-align: center;
}

/* body{
    background-color: darkgrey;

} */