<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Hello {{request.session.first_name}} </h1>
        <div class="row">
            <div class="col">
                <h1>Create Group</h1>
                <form action="/register/group" method="POST" id="regForm" class="RegistrationForm">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="group_name">Group Name:</label>
                        {% if messages %} 
                            {% for message in messages %} 
                                {% if message.extra_tags == 'group_name' %}
                                <span class="error text-danger small">{{ message }}</span> 
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <input type="text" name="group_name" id="group_name" class="form-control"
                            placeholder="Group Name">
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="password">Password:</label>
                        {% if messages %} 
                            {% for message in messages %} 
                                {% if message.extra_tags == 'password' %}
                                <span class="error text-danger small">{{ message }}</span> 
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="pwconfirm">Confirm Password:</label>
                        {% if messages %} 
                            {% for message in messages %} 
                                {% if message.extra_tags == 'confirmpw' %}
                                <span class="error text-danger small">{{ message }}</span> 
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <input type="password" name="pwconfirm" id="pwconfirm" class="form-control"
                            placeholder="Confirm Password">
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="Register">

                </form>
            </div>
            <div class="col">
                <h1>Join Group</h1>
                <form action="/login/group" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            {% if message.extra_tags == "loginemail" %}
                            <li{% if message.tags %} class="text-danger {{ message.tags }}" {% endif %}>{{ message }}
                                </li>
                                {% endif %}
                                {% endfor %}
                        </ul>
                        {% endif %}
                        <label for="groupLogin">Group Name:</label>
                        <input type="text" name="groupLogin" id="groupLogin" class="form-control" placeholder="Group Name">
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin">Password:</label>
                        <input type="password" name="passwordLogin" id="passwordLogin" class="form-control"
                            placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="Login">
                </form>
            </div>
        </div>







      








    </div>
</body>

</html>