<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo_app/css/bootstrap.css'%}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- <script src="{% static 'ayo_app/js/script.js' %}"></script> -->
</head>

<body>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
                window.location.href +='groups';
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
                // if (response.status === 'connected') {

                //     var accessToken = response.authResponse.accessToken;

                //     console.log('sending to backend!')

                //     var xhr = new XMLHttpRequest();
                //     xhr.open('POST', '/shared/social_login/');
                //     xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                //     xhr.onload = function() {
                //       console.log('Signed in as: ' + xhr.responseText);
                //       // location.reload();
                //       window.location.href = '/'; //relative to domain
                //     };

                //     xhr.send('social=facebook&csrfmiddlewaretoken=jpmDEvIvrdk5tZv9kL18rN7mOJfmbIt3&idtoken=' + accessToken);
                    
                // }
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '331993234400285',
                cookie: true, // enable cookies to allow the server to access 
                // the session
                xfbml: true, // parse social plugins on this page
                version: 'v3.3' // The Graph API version to use for the call
            });

            // Now that we've initialized the JavaScript SDK, we call 
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }

        gapi.load('auth2', function () {
        auth2 = gapi.auth2.init();

        // Sign the user in, and then retrieve their ID.
        auth2.signIn().then(function () {
            console.log(auth2.currentUser.get().getId());
        });

    });


    if (auth2.isSignedIn.get()) {
        var profile = auth2.currentUser.get().getBasicProfile();
        console.log('ID: ' + profile.getId());
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());
        }


      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>

    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/register" method="POST" id="regForm" class="RegistrationForm">
                    {% csrf_token %}
                    <h3>Register here!</h3>
                    <div class="form-group">
                        <label for="first_name">First name:</label>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.extra_tags == 'first_name' %}
                        <span class="error text-danger small">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="text" name="first_name" id="first_name" class="form-control"
                            placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last name:</label>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.extra_tags == 'last_name' %}
                        <span class="error text-danger small">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.extra_tags == 'email' %}
                        <span class="error text-danger small">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div id="emailMsg"></div>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.extra_tags == 'password' %}
                        <span class="error text-danger small">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="pwconfirm">Confirm Password:</label>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.extra_tags == 'confirmpw' %}
                        <span class="error text-danger small">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="password" name="pwconfirm" id="pwconfirm" class="form-control"
                            placeholder="Confirm Password">
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="Register">

                </form>
            </div>
            <div class="col">
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <h3>Login here!</h3>
                    <div class="form-group">
                        <label for="emailLogin">Email:</label>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.extra_tags == 'loginemail' or message.extra_tags == 'loginemail_void' %}
                        <span class="error text-danger small">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="text" name="emailLogin" id="emailLogin" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin">Password:</label>
                        <input type="password" name="passwordLogin" id="passwordLogin" class="form-control"
                            placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-outline-success mb-3" value="Login">
                </form>

                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button mt-5"
                    data-width="" data-size="large">
                </fb:login-button>

                <!-- <FB.logout(function(response) {
                    // Person is now logged out
                    });>
                </FB.logout> -->

                <div id="status">
                </div>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="g-signin2">Login with Google</br></a>
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
            </div>
        </div>

    </div>
</body>

</html>